<div class="container main-body">
    <div class="navigation col-md-2 col-xs-12">
        <nav-buttons></nav-buttons>
        <br/>
    </div>
        <div class="chatroom col-md-8 col-xs-12">
            <div ng-show="newUser" class="username-popup">
                <form  ng-submit="initUsername()" id="init-username-form">
                    <label id="init-username-label"> Choose a Username</label>
                    <div>
                        <p>></p>
                        <input ng-model="initUsernameInput" id="init-input" type="text"/>
                    </div>
                </form>
            </div>

            <div class="chatroom-banner"><span>Raptors vs. Clippers!<br/>{{mainPopulation}} fans here</span></div>
            <div class="chatbox col-xs-12">
                <p ng-repeat="message in messages"><span class="chat-username">{{message.username}}:</span> {{message.text}}</p>
            </div>
            <form ng-submit="sendMessage()" class="send-message-form">
                <input ng-model="message" class="col-xs-12 message-input" placeholder="Type message here..." type="text"/>
            </form>
        </div>

<div ng-show="discussionOpen" class="discussionChatroom col-md-3 col-xs-12">
    <div class="discussion-chatroom-banner">
        <span>Current discussion:{{currentDiscussion}}</span>
        <button ng-click="closeDiscussion()" id="close-discussion-button"><span aria-hidden="true" class="icon_close"></span></button>
    </div>
    <div class="discussionChatbox col-xs-12">
        <p ng-repeat="message in discussionMessages"><span class="chat-username">{{message.username}}:</span> {{message.text}}</p>
    </div>
    <form ng-submit="sendDiscussionMessage()" class="send-message-form">
        <input ng-model="discussionMessage" class="col-xs-12 message-input" placeholder="Type message here..." type="text"/>
    </form>
</div>

<div class="commands col-md-2 col-xs-12">
    <span class="chat-commands-header"><span aria-hidden="true" class="icon_profile icon"></span>Username</span>
        <input type="text" id="username-input" placeholder="Username" ng-model="username"/></>

    <div class="discussion-panel">
        <label class="chat-commands-header"><span aria-hidden="true" class="icon_pencil icon"></span >Create a Discussion</label>
        <input class="col-md-12" type="text" id="dicussion-input" placeholder="That awesome dunk!" ng-model="discussionTopic"/>
            <a ng-click="createDiscussion()" class="twitter-button btn btn-default nav col-md-12" id="start-discussion">Create</a>
        <label class="chat-commands-header"><span aria-hidden="true" class="icon_chat icon"></span> Join a Discussion</label>
        <div ng-repeat="discussion in discussions">
             <button class="twitter-button btn btn-default nav col-md-12 discussion-button" ng-click="joinDiscussion(discussion.discussion)" style="white-space: normal"><span>{{discussion.population}}</span> <span>{{discussion.discussion}}</span></button>
        </div>
    </div>
</div>