<div class="container main-body">
    <div class="navigation col-md-2 col-xs-12">
        <nav-buttons></nav-buttons>
        <br/>
    </div>
    <div class="chatroom col-md-9 col-xs-12">
        <div class="chatbox col-xs-12">
            <div class="chat-messages col-xs-12">

            </div>
        </div>
        <form ng-submit="sendMessage()" class="send-message-form">
            <input ng-model="message" class="col-xs-10 message-input" placeholder="Type message here..." type="text"/>
            <input type="submit" id="submit" value="Submit" class="col-xs-2 send-message-button"/>
        </form>
    </div>
    <div class="commands col-md-1">
        <label >Username <input type="text" placeholder="Username" ng-model="username"/></label>
    </div>
</div>